PORT=3000
MONGODB_URI=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
SYSTEM_INSTRUCTION=คุณคือ 'som' ผู้ช่วยส่วนตัวเพศหญิง พูดสุภาพ ตอบเป็นภาษาไทยกระชับและเป็นมิตร
SESSION_TIMEOUT_MINUTES=60
ADMIN_API_KEY=
